* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: hsl(216, 12%, 8%);
}

.box {
  width: 80%;
  padding: 2rem;
  border-radius: 1rem;

  background-color: hsl(213, 19%, 18%);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media (min-width: 768px) {
  .box {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .box {
    width: 30%;
  }
}

h2 {
  color: hsl(0, 0%, 100%);
  padding: 1rem 0px;
}

p {
  padding: 0.5rem 0;
  color: hsl(217, 12%, 63%);
}

.container-ratings img {
  padding: 1rem;
  background-color: hsl(217, 6%, 28%);
  border-radius: 50%;
}

.container-ratings ol {
  padding: 1rem 0;
  list-style-type: none;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

li {
  padding: 1rem;
  background-color: hsl(217, 6%, 28%);
  color: hsl(0, 0%, 100%);
  border-radius: 50%;

  transition: background-color 0.2s ease-in;
}

li:hover {
  background-color: hsl(25, 97%, 53%);
}

button {
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  background-color: hsl(25, 97%, 53%);
  color:hsl(0, 0%, 100%);

  transition: background-color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

button:hover {
  background-color: hsl(0, 0%, 100%);
  color:hsl(25, 97%, 53%);
}

.container-thankyou {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.rating-display {
  padding: 0.5rem 1rem;
  margin: 1rem 0px;
  background-color: hsl(216, 5%, 38%);
  color: hsl(25, 97%, 53%);
  border-radius: 2rem;
}

.container-thankyou > p:last-of-type {
  text-align: center;
}

.attribution {
  font-size: clamp(1.2rem, 2.2vw, 1.5rem);
  color: whitesmoke;

  width: 100%;
  text-align: center;

  position: fixed;
  bottom: 0;
}

.attribution a {
  color: hsl(25, 97%, 53%);
}

.none {
  display: none;
}

.grey {
  background-color: hsl(216, 12%, 54%);
}